{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Your cart{% endblock %}

{% block content %}
<section class="pt-5 mb-5">
  <h2>Your shopping cart</h2>
  <hr>
  
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Remove</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart %}
    {% with product=item.product %}
    <tr>
      <th scope="row"><img class="img img-thumbnail rounded" src="{{product.image.url}}" alt=""></th>
      <td>{{ product.name }}</td>
      <td>
        <form action="{% url 'cart:add' product.id %}" method="post">
          {% crispy item.update_quantity_cart %}
        </form>
      </td>
      <td><a href="{% url 'cart:remove' product.id %}" class='btn btn-sm btn-danger'>Remove</a></td>
      <td>{{ item.price }}</td>
      <td>{{ item.total_price }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
    <tr class='table-primary'>
      <td>Sub Total</td>
      <td colspan='4'></td>
      <td>{{ cart.total_price|floatformat:"2" }}</td>
    </tr>
    {% if cart.coupon %}
    <tr class='table-primary'>
      <td>"{{cart.coupon.code}}" coupon ({{ cart.coupon.discount }}% off)</td>
      <td colspan='4'></td>
      <td>- {{ cart.discount|floatformat:"2" }}</td>
    </tr>
    {% endif %}
    <tr class='table-primary'>
      <td>Total</td>
      <td colspan='4'></td>
      <td>{{ cart.total_price_after_discount|floatformat:"2" }}</td>
    </tr>
  </tbody>
</table>
<p>Apply a coupon</p>
<form action="{% url 'coupons:apply' %}" method="post">
  {% crispy coupon_apply_form %}
  <input type="submit" class='btn btn-success' value="Apply">
</form>
</section>

<section class="pt-5">
  <p class="text-right">
    <a class="btn btn-default" href="{% url 'shop:product-list' %}">Continue shopping</a>
    <a class="btn btn-primary" href="{% url 'orders:create' %}">Checkout</a>
  </p>
</section>
{% endblock %}
